<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>page User</title>
  </head>
  <body>
    <div id="sample"></div>

    <script>
      var socket = io();

      socket.on("data", function (data) {
        console.log(data);
        let p1 = document.getElementById("data");

        p1.innerHTML =
          "Humidity " +
          data.humidite[12] +
          "" +
          data.humidite[13] +
          " Temperature " +
          data.temperature[14] +
          "" +
          data.temperature[15];
        // document.getElementById('sample').style.opacity = data+"%";
        // document.getElementById('sample').appendChild(p1);
      });
    </script>

    <div class="container bg-black bg-opacity-50 col-md-8 p-3">
      <!-- Start partie 1 -->
      <div
        class="container part1"
        style="border: 3px solid white; border-radius: 15px"
      >
        <div class="d-flex p-1">
          <div class="col-lg-9">
            <a href="" routerLink="/off" style="font-size: 24px"> Dashbord</a>
            <img src="../../assets/dash.png" alt="deconect" />
          </div>
          <div class="">
            <h6
              class="text-white p-1 border"
              style="
                border-top-right-radius: 1rem;
                border-bottom-left-radius: 1rem;
                width: max-content;
              "
            >
              {{ this.currentUser.prenom }} {{ this.currentUser.nom }}
              <img
                src="../../assets/cnUser.png"
                class="rounded-circle"
                style="width: 15px"
              />
            </h6>
          </div>
          <div
            class="deconect mt-2 col-lg-2 col-md-4 col-lg-3"
            style="position: absolute; right: 0"
          >
            <img
              src="../../assets/deconecter.png"
              alt="deconect"
              style="height: 40px"
              (click)="deconnect()"
            />
          </div>
        </div>
      </div>
      <!-- End partie 1 -->
      <div class="container part2 mt-4">
        <div class="row">
          <div
            class="gestion col-lg-4"
            style="
              border: 2px solid white;
              height: 200px;
              border-radius: 15px;
              border: 2px solid white;
            "
          >
            <div class="d-block p-3">
              <div class="mb-5">
                <img src="../../assets/modUser.png" alt="deconect" /><a
                  href=""
                  routerLink="/modifierProfil"
                  >Modifier_profile</a
                >
              </div>
              <div class="mt-3">
                <img src="../../assets/listeUser.png" alt="deconect" /><a
                  href=""
                  routerLink="/listeUser"
                  >Liste Utilisateurs</a
                >
              </div>
            </div>
          </div>
          <!--  -->
          <div
            class="tmp-rel col-lg-8"
            style="
              border: 2px solid white;
              height: 200px;
              border-radius: 15px;
              border: 2px solid white;
            "
          >
            <div class="row">
              <div class="col-lg-12">
                <h3
                  class="text-white text-center border border-white"
                  style="border-radius: 5px"
                >
                  temps reel
                </h3>
              </div>
              <div class="row">
                <div class="col-lg-4">


                    <h4 class="text-white  ">Température</h4>
                   <!--  -->
                   <div>
                    <img  src="../../assets/Temp.png" alt="Temp" style="height: 50px;"><a href=""> {{temperature}}°C  </a>
                </div>

                </div>
                <div
                  class="mt-4 border-white border rounded d-flex justify-content-center p-4 gap-5"
                  style="width: max-content"
                >
                  <div class="">
                    <img
                      src="../../assets/buzzerOff.png"
                      style="height: 50px"
                    />
                  </div>
                  <div class="">
                    <img
                      src="../../assets/minfanOff.png"
                      style="height: 50px"
                    />
                  </div>
                </div>
                <div class="col-lg-3">
                  <h4 class="text-white">Humidité</h4>
                    <div>
                     <img src="../../assets/hum.png" alt="hum" style="height: 50px;"><a href=""> {{humidite}}%  </a>
                    </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Start partie 2 -->
      <div class="container part3 mt-4">
        <div class="row">
          <div class="col-lg-8 col-md-4 col-lg-3 mt-2 ">
              <table class="table text-white  border border-white">
                  <thead >
                    <tr>
                      <th scope="col">Heure</th>
                      <th scope="col">08H00</th>
                      <th scope="col">12H00</th>
                      <th scope="col">19H00</th>
                    </tr><br>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Température</th>
                      <td *ngFor="let i of tempHuitHeure">{{i.Temperature}}°C</td>
                      <td *ngFor="let i of tempDouzeHeure">{{i.Temperature}}°C</td>
                      <td *ngFor="let i of tempDixNeufHeure">{{i.Temperature}}°C</td>
                    </tr><br>
                    <tr>
                      <th scope="row">Humidité</th>
                      <td *ngFor="let i of tempHuitHeure">{{i.Humidite}}%</td>
                      <td *ngFor="let i of tempDouzeHeure">{{i.Humidite}}%</td>
                      <td *ngFor="let i of tempDixNeufHeure">{{i.Humidite}}%</td>
                    </tr>
  
                  </tbody>
                </table>
          </div>
          <div class="sec col-lg-4 col-md-4 col-lg-3 mt-2">
              <img *ngIf="humidite >= 60" src="assets/humide.png" alt="humide">
              <img *ngIf="humidite < 60" src="assets/sec.png" alt="sec">
              <!-- <h1 class="text-white">TMOY:{{tmoy}}</h1> -->
          </div>
      </div>
      </div>
      <!-- End partie2 -->
    </div>
    <p id="data"></p>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
    integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
</html>
