

/* body{
  background-image:url('../../assets/back.png');
  background-repeat: no-repeat;
  height: 568px;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
} */
.container .part3{
    border: 5px solid white;
    border-radius: 15px ;
}



 /* .container .part2{
    height: 50%;

}

 */
/* .row{
  height: 250px;
} */

a{
    color: white !important;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;

}
.sec img{
    height: 170px;
    width: 220px;
    
}
.inner-main{
  float: right;
  color: white;
}
.row{
  display: flex;
  justify-content: space-between;
}

.btn{
  background-color: none;
  color: white;
}
.pied{
  display: flex;
  width: 90%;
  justify-content: space-between;
}
body
{
  background-image: url('../../assets/background.png');
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-size: cover;
  min-height: 100vh;
}
.pied{
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.noir{
  background-color: black;
  color: #fff;
  margin-left: 100px;
}
.a{
  margin-left: 17%;
}


body{
  background-image:url('../../assets/back.png');
/*   min-height: 100vh; */

background-repeat: no-repeat;
height: 568px;
min-height: 100vh;
background-position: center;
background-size: cover;
}
.container .part3{
  border: 5px solid white;
  border-radius: 15px ;
}



/* .container .part2{
  height: 50%;

}

*/
/* .row{
height: 250px;
} */

a{
  color: white !important;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;

}
.sec img{
  height: 170px;
  width: 220px;
  
}

