

<!--  <h3>Gestion température et humidité</h3> -->
<div class="container-fluid entete">
  <div class="row">
    <div class="text-center text-white col-lg-12 col-md-4 col-lg-3 " style="border: 3px solid white;border-radius: 15px ;">
   
        <h2 > <img  src="../../assets/Temp.png" style="height: 50px ;" alt="température"> Gestion de Température et d'Humidité  <img src="../../assets/hum.png" style="height: 50px ;" alt="humididité"></h2>
      </div>
  </div>
</div>

<div class="container1">

  <section class=""><br>
    <p>Connexion</p>
    <div class="like">
      <div class="">


          <p class="text-danger" id="message">{{msg}}</p>



          <form [formGroup]="signinForm" (ngSubmit)="loginUser()">

            <div class="">
              <div class=" ">
              <label class=""  for="form3Example3">Email</label>
            <div class="centre">
              <input type="email" formControlName="email" style="width: 400px;height: 50px;border-color:#17c" class=" "placeholder="Adresse mail" /><br><br>
            </div>  
                         </div><br>
                         <!-- <div *ngIf="signinForm.controls['email'].errors" class="text-danger"></div>
                <div class="alert-danger contient" *ngIf="signinForm.controls['email'].invalid && signinForm.controls['email'].touched" > Champs vide </div>
                <div class="alert-danger contient" *ngIf="signinForm.controls['email'].invalid && signinForm.controls['email'].touched" > Format mail incorrecte </div> -->

                <div class="alert-danger contient"  *ngIf="signinForm.controls['email'].errors" class="help-block"></div>
                <!-- <div class="alert-danger contient"  *ngIf="signinForm.controls['email'].errors && signinForm.controls['email'].errors['required']">
                Champs Obligatoire
                </div> -->
                <div class="alert-danger contient" *ngIf="signinForm.controls['email'].invalid && signinForm.controls['email'].touched" > Champs Obligatoire </div>
                <div class="alert-danger contient"  *ngIf="signinForm.controls['email'].errors && signinForm.controls['email'].errors['email']">le format de l'email est invalide</div>
              </div>
           


            <div class="form-outline mb-3">
              <div class="">
              <label class="" for="form3Example4">Mot de passe</label>
              <div class="centre">
                <input type="password" id="form3Example4" formControlName="password" style="width: 400px;height: 50px;border-color:#17c" class=""placeholder="Mot de passe" /><br><br>

              </div>
               </div>
                <div class="alert-danger contient" *ngIf="signinForm.controls['password'].invalid && signinForm.controls['password'].touched" > Champs Obligatoire </div>
            </div><br>
            <div class="centre">
              <div class="">
                <button type="submit" class="bouton"  [disabled]="signinForm.invalid">Se connecter</button>
                </div>
            </div>
           

          </form>
        </div>
      </div>


  </section>

  </div>



