<body style="background-image: #0b3532">
  <div class="container col-md-8 " style=" border-radius:10px">
    <form method="POST" class="row g-2" id="loginform" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div>
        <h2 class="text-center mt-5 text-white " id="titre">FORMULAIRE MODIFICATION MOT_DE_PASSE</h2>
      </div>
      <div class="col-md-8 a">
        <label for="inputEmail4" class="form-label text-white" >ancien_mot_de_passe</label>
        <input type="password" formControlName="actuelPass" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.actuelPass.errors }" placeholder="Mot_de_passe"/>
        <div *ngIf="submitted && f.actuelPass.errors" class="invalid-feedback">
            <div *ngIf="f.actuelPass.errors.required">Ce champ est requis</div>
        </div>
      </div><br>
      <div class="col-8 a">
        <label for="inputAddress2" class="form-label text-white">mot_de_passe*</label>
        <input type="password" formControlName="newPass" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPass.errors }" placeholder="Mot_de_passe"/>
        <div *ngIf="submitted && f.newPass.errors" class="invalid-feedback">
            <div *ngIf="f.newPass.errors.required">Ce champ est requis</div>
        </div>
      </div><br>
      <div class="col-8 a">
        <label for="inputAddress2" class="form-label text-white">confirmation mot de passe* </label>
        <input type="password" formControlName="confirmPass" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPass.errors }" placeholder="Confirmation mot_de_passe"/>
        <div *ngIf="submitted && f.confirmPass.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPass.errors.required">Ce champ est requis</div>
            <div *ngIf="f.confirmPass.errors.mustMatch">Les deux mot_de_passe ne correspondent pas</div>
        </div>
      </div>
      <br>
      <div class="form-group pied">
        <a class=" btn btn-primary noir" href="javascript:history.go(-1)" >Retour</a>
        <p class="text-danger">{{pass}}</p>
        <a class="btn btn-primary btn-block noir" type="submit" >Modifier</a>
      </div>
    </form>
  </div>
</body>