body
{
  background-image: url('../../assets/background.png');
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-size: cover;
  min-height: 100vh;
}
.pied{
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.noir{
  background-color: black;
  color: #fff;
  margin-left: 100px;
}
.a{
  margin-left: 17%;
}
