<body style="background-image: #0b3532">
  <div class="container  bg-black bg-opacity-50 rounded col-md-6" style=" border-radius:10px">
    <form method="POST" class="row g-3" id="loginform" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div>
        <a title="modifier" routerLink="/profil/{{ currentUser._id }}" class="link-light btn btn-sm btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg><h3>Afficher le  profil</h3></a>
      </div>
      <div>
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label text-white" >PRENOM</label>
        <input type="text" formControlName="prenom" class="form-control"  placeholder="PRENOM"
        [ngClass]="{ 'is-invalid': submitted && registerForm.controls['prenom'].errors }" />
        <div *ngIf="submitted &&  registerForm.controls['prenom'].errors" class="text-danger">
        <div *ngIf="registerForm.controls['prenom'].errors['required'];then content else other_content">here is ignored</div>
        <ng-template #content>Ce champ est requis</ng-template>
        <ng-template #other_content>invalide</ng-template>
        </div>
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label text-white">NOM</label>
        <input type="text" formControlName="nom" class="form-control"  placeholder="NOM"
        [ngClass]="{ 'is-invalid': submitted && registerForm.controls['nom'].errors }" />
        <div *ngIf="submitted &&  registerForm.controls['nom'].errors" class="text-danger">
          <div *ngIf="registerForm.controls['nom'].errors['required'];then content else other_content">here is ignored</div>
          <ng-template #content>Ce champ est requis</ng-template>
          <ng-template #other_content>invalide</ng-template>
          </div>
         </div>
      <div class="col-8 a">
        <label for="inputAddress" class="form-label text-white">EMAIL</label>
        <input type="text" formControlName="email" class="form-control"  placeholder="EMAIL"
        [ngClass]="{ 'is-invalid': submitted && registerForm.controls['email'].errors }" />
        <div *ngIf="submitted &&  registerForm.controls['email'].errors" class="text-danger">
        <div *ngIf=" registerForm.controls['email'].errors['required']">Ce champ est requis</div>
        <div *ngIf=" registerForm.controls['email'].errors['pattern']">Format Mail incorrect</div>
      </div>
    </div>
      <br>
      <br>
      <div class="form-group pied">
        <button class="btn btn-primary btn-block noir" type="submit">Modifier</button>
        <a class=" btn btn-primary noir" href="javascript:history.go(-1)">Retour</a>
        <!-- <a title="modifier" routerLink="/profil/{{ currentUser._id }}" class="link-light btn btn-sm btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg></a> -->
      </div>
    </form>
  </div>
</body>
