

body{
    background-image:url('../../assets/back.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* overflow-y: hidden; */
    position: fixed;


   
}
.tete{
    background-color: #0d6efd;
    color: white;
}
.rec{
    width: 500px;
}
.cap{
    height: 25px;
}
.rech{
    width: 300px;
    border: solid black;
    border-radius: 10px;
}

//Navbar
$arriere_plan : #0d6efd;
$ecriture : white;

.colorNav
{
    background-color: $arriere_plan;
    color: $ecriture;
    a{
        color: white;
        cursor: pointer;
    }
    .info{
        height: inherit;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;
    }.info p:first-child{
        margin-left: 10px;
    }
    .lesLiens{
        padding: 10px;
        font-size: 20px;
        a{
            margin: 20px;
            color: white;
            text-decoration: none;
            margin-right: 10px;
        }a:hover:not(:last-child){
            border-bottom: 2px solid white;
            padding-bottom: 5px;
        }
    }
}
ul{
    li{

            img{
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: white;
            }

    }
}
input{
    background: #000;
    border: 4px solid white;
    border-radius: 7px 7px 7px;
    opacity: 0.5;
    color: #fff;

}
.recherche, .tete{
    display: flex;
    justify-content:space-between;
    width: 100%;
}